.header-div{
    background-color: #222;
    height: 36px;
    padding-top:8px ;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 16px;
}
.upcoming-mvs-header{
    background-color: #ff9999;
    padding: 8px;
    font-size: 1rem;
    text-align: center;
}
.svg-image{
    background-color: #ff7f7f;
    height: 35px;
    animation: move 8s infinite linear;
}
@keyframes move {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }